<div class="d-flex flex-column gap-3">
  <h1>{{ title }}</h1>
  <div class="d-flex flex-row gap-2">
    <button type="button" class="btn btn-success" [disabled]="isSuccessLoading" (click)="success()">
      <ng-container *ngIf="isSuccessLoading">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      </ng-container>
      <ng-container *ngIf="!isSuccessLoading">
        <span>Success</span>
      </ng-container>
    </button>

    <button type="button" class="btn btn-warning" [disabled]="isWarningLoading" (click)="warning()">
      <ng-container *ngIf="isWarningLoading">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      </ng-container>
      <ng-container *ngIf="!isWarningLoading">
        <span>Waring</span>
      </ng-container>
    </button>

    <button type="button" class="btn btn-danger" [disabled]="isErrorLoading" (click)="error()">
      <ng-container *ngIf="isErrorLoading">
        <ng-container *ngTemplateOutlet="loading"></ng-container>
      </ng-container>
      <ng-container *ngIf="!isErrorLoading">
        <span>Error</span>
      </ng-container>
    </button>

    <button type="button" class="btn btn-light" (click)="clear()">Clear</button>
  </div>

  <ng-template #loading>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </ng-template>

  <div>{{ svgContent }}</div>
</div>

<router-outlet></router-outlet>
